body{
    background-color:rgba(64, 64, 240, 0);
    margin: 0px;
   background-image: url(245.jpg); 
   background-size:  100% 100%; 
   
}
header{
    background-color: rgba(27, 27, 29, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 15px;
}
.logo{
    width: 30px;
}
.main-navigation {
    background-color:ghostwhite
}
.main-navigation a {
    color:rgba(51, 18, 197, 0.753);
    text-decoration:none;
    display: inline-block;
    padding: 15px;
}
.main-navigation a:hover {
    background-color: rgba(241, 2, 2, 0.767);
    padding: 13px;
}
.banner {
    min-height: 50vh;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("satoro.png"); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
    flex-direction: column;
}
.banner-button{
    display: block;
    background-color: azure;
    color: black;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
}
.banner h1{
    color: aliceblue;
}
.content{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    gap: 20px;
}
.card {
    max-width:33.33%;
    background-color: aliceblue;
    flex: 1;
}
.card img {
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width: 100%;
}
.card-content {
padding: 1em;
}
.card-content a {
    display: block;
    background-color: black;
    padding: 1em;
    text-align: center;
    color: rgb(21, 22, 22);
    text-decoration: none;
    border-radius: 5px;
}
.main-footer {
    background-color: azure;
    min-height: 12em;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
}
.social a {
    color: aqua;
    text-decoration: none;
    font-size: 1.5em;
}
.social {
    display: flex;
    flex-direction: row;
    gap: 20px;
}